<div class="container mat-elevation-z8">
  <h2 class="title-with-icon">
    <mat-icon>calendar_today</mat-icon> Gestión de Períodos
  </h2>
  
  <p></p>

  <form [formGroup]="periodoForm" (ngSubmit)="createPeriodo()">
    <div class="row">
      <div class="col-lg-6">
        <mat-label class="f-w-600 m-b-8 d-block">Año</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <mat-select formControlName="descripcion" placeholder="Selecciona un año">
            <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
          </mat-select>
          <mat-error *ngIf="periodoForm.get('descripcion').hasError('required')">
            El año es obligatorio
          </mat-error>
        </mat-form-field>
      </div>
 
  
      <div class="col-lg-6">
        <mat-label class="f-w-600 m-b-8 d-block">Fecha de Inicio</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput [matDatepicker]="pickerInicio" formControlName="fechaInicio" />
          <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
          <mat-datepicker #pickerInicio></mat-datepicker>
          <mat-error *ngIf="periodoForm.get('fechaInicio').hasError('required')">
            La fecha de inicio es obligatoria
          </mat-error>
        </mat-form-field>
      </div>
  
      <div class="col-lg-6">
        <mat-label class="f-w-600 m-b-8 d-block">Fecha de Fin</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input matInput [matDatepicker]="pickerFin" formControlName="fechaFin" />
          <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
          <mat-datepicker #pickerFin></mat-datepicker>
          <mat-error *ngIf="periodoForm.get('fechaFin').hasError('required')">
            La fecha de fin es obligatoria
          </mat-error>
        </mat-form-field>
      </div>
  
      <div class="col-lg-6 d-flex align-items-center">
        <mat-checkbox formControlName="activo">Activo</mat-checkbox>
      </div>
    </div>
  
    <div class="m-t-12">
      <button mat-flat-button color="primary" [disabled]="periodoForm.invalid">
        {{ editingId ? 'Actualizar' : 'Crear' }}
      </button>
      <button mat-stroked-button color="warn" type="button" (click)="resetPeriodo()">
        Cancelar
      </button>
    </div>
  </form>
  

  <!-- Buscador de períodos -->
  <div class="header">
    <mat-form-field class="search-box">
      <mat-label>Buscar períodos</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar períodos" />
    </mat-form-field>
  </div>

  <!-- Tabla de períodos -->
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 full-width-table">

      <!-- Columnas de la tabla -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</th>
        <td mat-cell *matCellDef="let periodo">{{ periodo.descripcion }}</td>
      </ng-container>

      <ng-container matColumnDef="fechaInicio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Inicio</th>
        <td mat-cell *matCellDef="let periodo">{{ periodo.fechaInicio | date: 'short' }}</td>
      </ng-container>

    

      <ng-container matColumnDef="fechaFin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Fin</th>
        <td mat-cell *matCellDef="let periodo">{{ periodo.fechaFin | date: 'short' }}</td>
      </ng-container>

      <ng-container matColumnDef="activo">
        <th mat-header-cell *matHeaderCellDef> Activo </th>
        <td mat-cell *matCellDef="let periodo">
          <div class="estado-indicador" [ngClass]="periodo.activo ? 'activo' : 'inactivo'"></div>
        </td>
      </ng-container>
      
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let periodo">
          <button mat-icon-button (click)="editPeriodo(periodo)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deletePeriodo(periodo.idPeriodo)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <!-- Paginador -->
  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>