<h2 mat-dialog-title>💡 Sugerencias para Mejorar</h2>
<mat-dialog-content>
  <div class="suggestions-container" [innerHTML]="data.suggestions"></div>
  
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" (click)="speak(data.suggestions)">
    <mat-icon>volume_up</mat-icon>
    Leer
  </button>
  <button mat-raised-button color="warn" (click)="stop()">
    <mat-icon>stop</mat-icon>
    Detener
  </button>
  <button mat-raised-button color="accent" (click)="close()">
    <mat-icon>close</mat-icon>
    Cerrar
  </button>
</mat-dialog-actions>
