.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .estudiante-form {
    display: flex;
    flex-direction: column;
  }
  
  mat-form-field {
    margin-bottom: 16px;
  }
  
  button {
    margin-top: 20px;
  }
  