<div class="container">
  <mat-card class="inscripcion-card">
    <mat-card-header>
      <mat-card-title>Detalle de la Inscripción</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="inscripcion-info">
        <div class="info-item">
          <strong>ID:</strong> {{ inscripcion?.id }}
        </div>
        <div class="info-item">
          <strong>Nombre del Estudiante:</strong> {{ inscripcion?.estudiante.nombre }} {{ inscripcion?.estudiante.apellido }}
        </div>
        <div class="info-item">
          <strong>Nombre del Curso:</strong> {{ inscripcion?.curso.nombre }}
        </div>
        <div class="info-item">
          <strong>Fecha Inscripción:</strong> {{ inscripcion?.fechaInscripcion | date }}
        </div>
        <div class="info-item">
          <strong>Calificación:</strong> {{ inscripcion?.calificacion }}
        </div>
      </div>
      <div class="button-group">
        <button mat-raised-button color="primary" routerLink="/inscripciones">Volver a la lista</button>
        <button mat-raised-button color="warn" (click)="deleteInscripcion(inscripcion?.id)">Eliminar</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
