<div class="container">
  <div class="header">
    <h2>Mis Calificaciones</h2>
    <button (click)="printBoletin()" class="btn-print">Descargar Boletín en PDF</button>
  </div>

  <div class="grades-grid">
    <div class="grade-card" *ngFor="let calificacion of calificaciones">
      <div class="grade-header">
        <h3>{{ calificacion.curricular.docenteNivelDetalleCurso.nivelDetalleCurso.curso.descripcion }}</h3>
        <span class="grade-score"><strong>Nota </strong>{{ calificacion.nota }}</span>
      </div>
      <div class="grade-details">
        <p><strong>Curricular:</strong> {{ calificacion.curricular.descripcion }}</p>
        <p><strong>Profesor:</strong> {{ calificacion.curricular.docenteNivelDetalleCurso.docente.nombres }} {{ calificacion.curricular.docenteNivelDetalleCurso.docente.apellidos }}</p>
        <p><strong>Fecha:</strong> {{ calificacion.fechaRegistro | date: 'dd/MM/yyyy' }}</p>
        <p><strong>Horario:</strong> {{ calificacion.horario?.horaInicio.substring(0, 5) }} - {{ calificacion.horario?.horaFin.substring(0, 5) }} ({{ calificacion.horario?.diaSemana }})</p>
      </div>
      <div class="grade-actions">
        <button (click)="requestSuggestionsForCalificacion(calificacion)" class="btn-suggestions">
          Sugerencias
        </button>
      </div>
    </div>

    <div class="no-grades" *ngIf="calificaciones.length === 0">
      <p>No tienes calificaciones registradas aún.</p>
    </div>
  </div>
</div>