<h2 mat-dialog-title class="dialog-title">{{ data.titulo }}</h2>
<div mat-dialog-content class="dialog-content">
  <div class="dialog-header">
    <p class="dialog-label">
      <mat-icon color="accent">event</mat-icon>
      <span>Fecha de Creación:</span> {{ data.fechaCreacion | date: 'longDate' }}
    </p>
  </div>
  <p class="dialog-text">{{ data.contenido }}</p>
  <img *ngIf="data.imagen" [src]="data.imagen" alt="Imagen de Noticia" class="imagen-dialog" />
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-raised-button color="accent" class="dialog-button" (click)="onNoClick()">Cerrar</button>
</div>
