
<div class="container">
    <h2>Editar Departamento</h2>
  
    <form (ngSubmit)="updateDepartamento()" #departamentoForm="ngForm">
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="departamento.nombre" name="nombre" required />
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Descripción</mat-label>
        <textarea matInput [(ngModel)]="departamento.descripcion" name="descripcion"></textarea>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit">Guardar</button>
    </form>
  </div>
  