<div class="export-dialog-container">
  <h2 mat-dialog-title class="dialog-title">Contenido de Matrícula</h2>

  <mat-dialog-content class="dialog-content">
    <div class="button-group">
      <button mat-raised-button class="export-button excel-button" (click)="downloadExcel()">
        <img src="assets/iconos/microsoft_office_excel_logo_icon_145720.png" alt="Excel" class="button-icon">
        <span>Exportar a Excel</span>
      </button>
 
    </div>
    <p class="privacy-notice">**Aviso:** La exportación de datos puede estar sujeta a regulaciones de privacidad.</p>
  </mat-dialog-content>

  <mat-dialog-actions class="dialog-actions">
    <button mat-button class="cancel-button" (click)="onNoClick()">Cancelar</button>
  </mat-dialog-actions>
</div>