.horarios-container {

  align-items: stretch; /* Alinear al ancho completo */
  padding: 20px; /* Espaciado interno */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
}


.filter-field {
  margin-bottom: 20px; /* Espacio inferior entre el filtro y la tabla */
}

.table-container {
  width: 100%; /* Asegurarse de que la tabla ocupe todo el ancho */
  margin-top: 20px; /* Espacio superior para separación */
}

.full-width-table {
  width: 100%; /* La tabla ocupará todo el ancho del contenedor */
}

.mat-form-field {
  width: 100%; /* Asegurar que el campo de filtro ocupe todo el ancho */
}

.mat-icon-button {
  padding: 8px; /* Ajuste de espacio alrededor del botón de icono */
}

.mat-icon {
  margin: 0; /* Remover márgenes para iconos */
}
