.app-sidenav {
  background-color: #f7f7f7;
  color: #333;
  width: 250px; 
 
  transition: width 0.3s ease; 
}

.sidenav-header, .sidenav-subheader {
  font-size: 13px;
  color: #000000;
  padding: 12px 10px;
  font-weight: 100%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 12px;    
}

.sidenav-header:hover, .sidenav-subheader:hover {
  background-color: #e0e0e0;
  cursor: pointer;
  border-radius: 4px;
}

.nav-link {
  display: flex;
  align-items: center;
  color: #333;
  padding: 8px 10px; 
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link mat-icon {
  margin-right: 8px; 
  color: #555;
}

.nav-link:hover {
  background-color: #d9d9d9;
}

.active {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.mat-divider {
  background-color: #ccc;
  margin: 8px 0;
}

.sidenav-container {
  height: 100%;
  overflow-y: auto;
}

.app-toolbar {
  background-color: rgb(0, 0, 0);
  color: white;
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}


/* Menu icon styles */
.icon-menu {
  --gap: 5px;
  --height-bar: 2.5px;
  --pos-y-bar-one: 0;
  --pos-y-bar-three: 0;
  --scale-bar: 1;
  --rotate-bar-one: 0;
  --rotate-bar-three: 0;
  width: 25px;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  cursor: pointer;
  position: relative;
}

.bar {
  position: relative;
  height: var(--height-bar);
  width: 100%;
  border-radius: .5rem;
  background-color: #9941fc;
}

.bar--1 {
  top: var(--pos-y-bar-one);
  transform: rotate(var(--rotate-bar-one));
  transition: top 200ms 100ms, transform 100ms;
}

.bar--2 {
  transform: scaleX(var(--scale-bar));
  transition: transform 150ms 100ms;
}

.bar--3 {
  bottom: var(--pos-y-bar-three);
  transform: rotate(var(--rotate-bar-three));
  transition: bottom 200ms 100ms, transform 100ms;
}

.check-icon:checked + .icon-menu > .bar--1 {
  transition: top 200ms, transform 200ms 100ms;
}

.check-icon:checked + .icon-menu > .bar--3 {
  transition: bottom 200ms, transform 200ms 100ms;
}

.check-icon:checked + .icon-menu {
  --pos-y-bar-one: calc(var(--gap) + var(--height-bar));
  --pos-y-bar-three: calc(var(--gap) + var(--height-bar));
  --scale-bar: 0;
  --rotate-bar-one: 45deg;
  --rotate-bar-three: -45deg;
}

.link-icon {
  width: 24px; 
  height: 24px; 
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo img {
  animation: spin 5s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.blink {
  animation: blink 1s infinite; /* Parpadeo cada 1 segundo */
}



/* Contenedor principal del drawer */
.example-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Ajusta el tamaño del contenido principal para que no se oculte */
.content {
  flex-grow: 1;
  padding: 10px;
}

.ia-drawer {
  width: 300px;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

@media (max-width: 768px) {
  .ia-drawer {
    width: 80%;
  }
}






/* Estilo general para el mat-toolbar */
mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}


.logo img {
  width: 40px; 
  height: 40px;
  object-fit: cover;
  transition: all 0.3s ease;
  
}

button.mat-mini-fab {
  background-color: black;
  margin-right: 15px;
  width: 35px; 
  height: 40px;
}

@media (max-width: 768px) {
  mat-toolbar {
    padding: 0 10px; 
  }

  .logo img {
    width: 30px; 
    height: 30px;
  }

  .title {
    display: none;
  }

  .user-info {
    display: none; 
  }

  .spacer {
    display: none; /* Elimina el espacio entre el logo y los iconos en pantallas pequeñas */
  }

  .icon-menu {
    gap: 4px;
  }

  /* Cambia el orden de los elementos para móviles */
  mat-toolbar {
    flex-direction: column;
    align-items: center;
  }

  .check-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Para pantallas muy pequeñas (dispositivos móviles) */
@media (max-width: 480px) {
  .logo img {
    width: 25px; /* Reduce aún más el tamaño del logo */
    height: 25px;
  }

  button.mat-mini-fab {
    width: 35px; /* Ajusta los botones */
    height: 35px;
  }
}
