<div class="card mx-4 my-4">
  <div class="card-header text-center">
    <h5 class="card-title">Chat Online - Institución Educativa El Hobo</h5>
  </div>

  <div class="card-body">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item mr-2" *ngIf="!conectado">
        <input type="text" [(ngModel)]="mensaje.username" class="form-control" placeholder="Tu Username..." name="username">
      </li>
    </ul>
  </div>

  <div #scrollChat [scrollTop]="scrollChat.scrollHeight" class="card-body" *ngIf="conectado">
    <ul class="list-group list-group-flush">
      <li class="list-group-item list-group-item-light" *ngFor="let mensaje of mensajes">
        <span *ngIf="mensaje.tipo=='NUEVO_USUARIO'">
          {{mensaje.fecha | date:'shortTime'}} , {{mensaje.texto}}
          <span [ngStyle]="{'color': mensaje.color}">{{mensaje.username}}</span>
        </span>
        <span *ngIf="mensaje.tipo=='MENSAJE'">
          {{mensaje.fecha | date:'shortTime'}}
          <span [ngStyle]="{'color': mensaje.color}">{{mensaje.username}}</span> dice:<br> {{mensaje.texto}}
        </span>
      </li>
    </ul>
  </div>

  <div class="card-footer">
    <form class="form-inline">
 
      <div class="form-group mx-3" *ngIf="conectado">
        <input type="text" [(ngModel)]="mensaje.texto" class="form-control" placeholder="Escribe un mensaje..." name="texto" (keyup)="escribiendoEvento()">
      </div>

      <p></p>
 
      <button class="btn btn-success mr-2" type="button" (click)="conectar()" *ngIf="!conectado" [disabled]="!mensaje.username">
        <i class="fas fa-sign-in-alt"></i> Conectar
      </button>


      <button class="btn btn-warning mr-2" type="button" (click)="desconectar()" *ngIf="conectado">
        <i class="fas fa-sign-out-alt"></i> Cerrar Chat
      </button>

   
      <button class="btn btn-primary" type="button" (click)="enviarMensaje()" *ngIf="conectado">
        <i class="fas fa-paper-plane"></i> Enviar
      </button>
    </form>
    <div class="escribiendo" *ngIf="conectado">{{escribiendo}}</div>
  </div>
</div>
