
<div class="curso-detail-container">
    <h2>Detalles del Curso</h2>
    <mat-card *ngIf="curso">
      <mat-card-content>
        <p><strong>ID:</strong> {{ curso.id }}</p>
        <p><strong>Nombre:</strong> {{ curso.nombre }}</p>
        <p><strong>Descripción:</strong> {{ curso.descripcion }}</p>
        <p><strong>Horario:</strong> {{ curso.horario }}</p>
        <p><strong>Profesor:</strong> {{ curso.profesor?.nombre }}</p>
        <p><strong>Aula:</strong> {{ curso.aula?.nombre }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/cursos']">Volver</button>
      </mat-card-actions>
    </mat-card>
  </div>
  