
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; 
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.header {
  display: flex;
  justify-content: flex-start; /* Alinear elementos a la izquierda */
  align-items: center;
  margin-bottom: 20px;
}

/* Botón de ver detalles */
.btn-details {
  background-color: #ff9800; /* Color naranja */
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.btn-details:hover {
  background-color: #e68a00; /* Color más oscuro al pasar el cursor */
}

/* Botón de crear nuevo acudiente */
.btn-create {
  background-color: #4caf50;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-right: 20px; /* Espacio entre botón y campo de búsqueda */
}

.btn-create:hover {
  background-color: #45a049;
}

/* Estilo para los botones de editar y eliminar */
.btn-edit {
  background-color: #2196f3;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.btn-edit:hover {
  background-color: #0b7dda;
}

.btn-delete {
  background-color: #f44336;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-delete:hover {
  background-color: #e31b0c;
}

/* Estilo para el campo de búsqueda */
.search-box {
  margin-left: -10px; /* Ajustar el campo de búsqueda más cerca del botón */
}

.input-search {
  padding: 10px;
  width: 100%;
  max-width: 660px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Tabla personalizada */
.table-container {
  overflow-x: auto;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

.custom-table th,
.custom-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.custom-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.custom-table tr:hover {
  background-color: #f1f1f1;
}

.paginator {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
