<div class="container mat-elevation-z8">
  <h2 class="title-with-icon">
    <mat-icon>person_add</mat-icon> Crear Estudiante
  </h2>

  <form (ngSubmit)="crearEstudiante()" #estudianteForm="ngForm" class="form-container">
    
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Código</mat-label>
      <input matInput [(ngModel)]="estudiante.codigo" name="codigo" required />
      <mat-error *ngIf="estudianteForm.submitted && !estudiante.codigo">Este campo es requerido.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Nombres</mat-label>
      <input matInput [(ngModel)]="estudiante.nombres" name="nombres" required />
      <mat-error *ngIf="estudianteForm.submitted && !estudiante.nombres">Este campo es requerido.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Apellidos</mat-label>
      <input matInput [(ngModel)]="estudiante.apellidos" name="apellidos" required />
      <mat-error *ngIf="estudianteForm.submitted && !estudiante.apellidos">Este campo es requerido.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Documento de Identidad</mat-label>
      <input matInput [(ngModel)]="estudiante.documentoIdentidad" name="documentoIdentidad" required />
      <mat-error *ngIf="estudianteForm.submitted && !estudiante.documentoIdentidad">Este campo es requerido.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Fecha de Nacimiento</mat-label>
      <input matInput [(ngModel)]="estudiante.fechaNacimiento" name="fechaNacimiento" type="date" required />
      <mat-error *ngIf="estudianteForm.submitted && !estudiante.fechaNacimiento">Este campo es requerido.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Sexo</mat-label>
      <mat-select [(ngModel)]="estudiante.sexo" name="sexo" required>
        <mat-option value="F">Femenino</mat-option>
        <mat-option value="M">Masculino</mat-option>
      </mat-select>
      <mat-error *ngIf="estudianteForm.submitted && !estudiante.sexo">Este campo es requerido.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Ciudad</mat-label>
      <input matInput [(ngModel)]="estudiante.ciudad" name="ciudad" required />
      <mat-error *ngIf="estudianteForm.submitted && !estudiante.ciudad">Este campo es requerido.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Dirección</mat-label>
      <input matInput [(ngModel)]="estudiante.direccion" name="direccion" required />
      <mat-error *ngIf="estudianteForm.submitted && !estudiante.direccion">Este campo es requerido.</mat-error>
    </mat-form-field>

    <div class="mb-3 form-check">
      <mat-checkbox [(ngModel)]="estudiante.activo" name="activo">Activo</mat-checkbox>
    </div>

    <div class="button-group">
      <button mat-raised-button color="primary" type="submit" [disabled]="estudianteForm.invalid">Crear Estudiante</button>
      <button mat-raised-button color="warn" type="button" (click)="cancelar()">Cancelar</button>
    </div>
    
  </form>

</div>
