<div class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <form (ngSubmit)="login()">
      <mat-card-content>
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Email"
            [(ngModel)]="loginDto.email"
            name="email"
            required />
        </mat-form-field>
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Password"
            [(ngModel)]="loginDto.password"
            name="password"
            type="password"
            required />
        </mat-form-field>

        <!-- Contenedor para mostrar el mensaje de error -->
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>

      </mat-card-content>
      <mat-card-actions>
        <button type="submit" mat-button color="primary"
          class="login">Login</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
