.container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-actions {
    margin-top: 20px;
  }
  .full-width-table {
    width: 100%;
  }
  
  .search-box {
    width: 100%;
    margin-bottom: 16px; /* Espaciado entre el buscador y la tabla */
  }
  

  .table th,
  .table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  