<div class="container mat-elevation-z8">
  <h2 class="title-with-icon">
    <mat-icon>create</mat-icon> Crear Calificación
  </h2>

  <form #form="ngForm" (ngSubmit)="saveCalificacion()" class="form-container">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Nota:</mat-label>
      <input 
        matInput
        type="number"
        [(ngModel)]="calificacion.nota"
        name="nota"
        required 
        min="0" 
        max="5" 
        step="0.1" />  
      <mat-error *ngIf="calificacion.nota < 0 || calificacion.nota > 5">
        La nota debe estar entre 0 y 5.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Estudiante:</mat-label>
      <mat-select [(ngModel)]="calificacion.estudiante" name="estudiante" required>
        <mat-option *ngFor="let estudiante of estudiantes" [value]="estudiante">
          {{ estudiante.nombres }} {{ estudiante.apellidos }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="!estudiantes.length">
        No hay estudiantes disponibles. Por favor, añade un estudiante primero.
      </mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Descripción Curricular:</mat-label>
      <mat-select [(ngModel)]="calificacion.curricular" name="curricular" required>
        <mat-option value="" disabled>Seleccione una descripción curricular</mat-option>
        <mat-option *ngFor="let curricular of curriculares" [value]="curricular">
          {{ curricular.descripcion }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="!curriculares.length">
        No hay descripciones curriculares disponibles. Por favor, añade una descripción curricular primero.
      </mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Fecha de Registro:</mat-label>
      <input 
        matInput 
        type="date" 
        [(ngModel)]="calificacion.fechaRegistro" 
        name="fechaRegistro" 
        required />
    </mat-form-field>

    <mat-checkbox [(ngModel)]="calificacion.activo" name="activo">Activo</mat-checkbox>

    <div class="button-group">
      <button mat-raised-button color="primary" [disabled]="!form.valid">Guardar</button>
      <a [routerLink]="['/calificaciones']" mat-button color="warn">Cancelar</a>
    </div>
  </form>
</div>
