.input-field {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .docente-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
  .container {
  max-width: 1200px; 
  width: 100%;
  margin: 0 auto; 
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  .action-buttons {
    margin-top: 10px;
  }
  
  .container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  .mat-header-cell {
    background-color: #3f51b5; /* Color de fondo de los encabezados */
    color: white; /* Color de texto de los encabezados */
  }
  