<div class="container mat-elevation-z8" style="margin-top: 20px;">
  <h1 style="margin-bottom: 20px;">Gestión de Docentes</h1>

  <form [formGroup]="docenteForm" (ngSubmit)="onSubmit()" style="margin-bottom: 20px;">
    <mat-form-field appearance="outline" class="input-field">
      <mat-label>Código</mat-label>
      <input matInput formControlName="codigo" placeholder="Ingrese el código" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-field">
      <mat-label>Documento de Identidad</mat-label>
      <input matInput formControlName="documentoIdentidad" placeholder="Ingrese el documento de identidad" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-field">
      <mat-label>Nombres</mat-label>
      <input matInput formControlName="nombres" placeholder="Ingrese los nombres" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-field">
      <mat-label>Apellidos</mat-label>
      <input matInput formControlName="apellidos" placeholder="Ingrese los apellidos" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-field">
      <mat-label>Fecha de Nacimiento</mat-label>
      <input matInput type="date" formControlName="fechaNacimiento" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-field">
      <mat-label>Sexo</mat-label>
      <input matInput formControlName="sexo" placeholder="Ingrese el sexo" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-field">
      <mat-label>Grado de Estudio</mat-label>
      <input matInput formControlName="gradoEstudio" placeholder="Ingrese el grado de estudio" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-field">
      <mat-label>Ciudad</mat-label>
      <input matInput formControlName="ciudad" placeholder="Ingrese la ciudad" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-field">
      <mat-label>Dirección</mat-label>
      <input matInput formControlName="direccion" placeholder="Ingrese la dirección" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-field">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" placeholder="Ingrese el email" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-field">
      <mat-label>Número de Teléfono</mat-label>
      <input matInput formControlName="numeroTelefono" placeholder="Ingrese el número de teléfono" />
    </mat-form-field>

    <div>
      <mat-checkbox formControlName="activo">Activo</mat-checkbox>
    </div>

    <div class="action-buttons">
      <button mat-raised-button color="primary" type="submit" style="margin-top: 10px;">Guardar</button>
      <button mat-button type="button" (click)="resetForm()" style="margin-top: 10px; margin-left: 10px;">Cancelar</button>
    </div>
  </form>

  <div>
    <mat-form-field appearance="outline" class="search-box">
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar docentes" />
    </mat-form-field>
  </div>

  <h2>Lista de Docentes</h2>
  <table mat-table [dataSource]="displayedDocentes" class="mat-elevation-z8">
 
    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef>Código</th>
      <td mat-cell *matCellDef="let docente">{{ docente.codigo }}</td>
    </ng-container>
 
    <ng-container matColumnDef="nombres">
      <th mat-header-cell *matHeaderCellDef>Nombres</th>
      <td mat-cell *matCellDef="let docente">{{ docente.nombres }}</td>
    </ng-container>
 
    <ng-container matColumnDef="apellidos">
      <th mat-header-cell *matHeaderCellDef>Apellidos</th>
      <td mat-cell *matCellDef="let docente">{{ docente.apellidos }}</td>
    </ng-container>
 
    <ng-container matColumnDef="documentoIdentidad">
      <th mat-header-cell *matHeaderCellDef>Documento de Identidad</th>
      <td mat-cell *matCellDef="let docente">{{ docente.documentoIdentidad }}</td>
    </ng-container>
 
    <ng-container matColumnDef="fechaNacimiento">
      <th mat-header-cell *matHeaderCellDef>Fecha de Nacimiento</th>
      <td mat-cell *matCellDef="let docente">{{ docente.fechaNacimiento  }}</td>
    </ng-container>
 
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let docente">
        <a [href]="'mailto:' + docente.email" style="text-decoration: none; color: inherit;">
          {{ docente.email }}
        </a>
      </td>
    </ng-container>
    
    <ng-container matColumnDef="numeroTelefono">
      <th mat-header-cell *matHeaderCellDef>Número de Teléfono</th>
      <td mat-cell *matCellDef="let docente">
        <a [href]="'https://api.whatsapp.com/send?phone=' + docente.numeroTelefono" target="_blank" style="text-decoration: none; color: inherit;">
          {{ docente.numeroTelefono }}
        </a>
      </td>
    </ng-container>
    
    
    
    
    <ng-container matColumnDef="ciudad">
      <th mat-header-cell *matHeaderCellDef>Ciudad</th>
      <td mat-cell *matCellDef="let docente">{{ docente.ciudad }}</td>
    </ng-container>
 
    <ng-container matColumnDef="activo">
      <th mat-header-cell *matHeaderCellDef>Activo</th>
      <td mat-cell *matCellDef="let docente">{{ docente.activo ? 'Sí' : 'No' }}</td>
    </ng-container>
 
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let docente">
        <button mat-icon-button color="accent" (click)="onSelect(docente)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onDelete(docente)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div>
    <mat-paginator
      [length]="docentes.length"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 20]"
      (page)="onPageChange($event)">
    </mat-paginator>
  </div>
</div>
