<div class="home-container">
  <mat-card class="home-card">
    <mat-card-header>
      <mat-card-title>Mi Playlist de Videos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="video-container">
        <iframe
          width="700"
          height="600"
          src="https://www.youtube.com/embed/Th1r10IgQwE"
          title="YouTube Video Player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<!-- src/app/generate-content/generate-content.component.html -->
