.container {
    align-items: center; 
    justify-content: center; 
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
  }
  
  .header {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .table-container {
    width: 100%; 
  }
  
  .full-width-table {
    width: 100%;  
  }
  
  .button-group {
    display: flex;
    gap: 5px;  
  }
  
  .button-group button {
    margin-right: 5px;  
  }
  
  .pagination {
    display: flex;
    justify-content: space-between; 
    margin-top: 20px;
  }
  