.table-container {
  width: 100%;
}

.full-width-table {
  width: 100%;
}

.button-group {
  display: flex;
  gap: 5px;
}

.button-group button {
  margin-right: 5px;
}

.container {
  align-items: center;
  justify-content: center;
}
