.table-container {
    margin: 20px;
    overflow: auto;
  }
  
  .mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  