<h2>Registro</h2>
<form (ngSubmit)="signUp()">
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="signUpData.name" name="name" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="signUpData.email" name="email" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contraseña</mat-label>
    <input matInput type="password" [(ngModel)]="signUpData.password" name="password" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Rol</mat-label>
    <mat-select [(ngModel)]="signUpData.role" name="role" required>
      <mat-option value="ADMIN">ADMIN</mat-option>
      <mat-option value="USER">USER</mat-option>
    </mat-select>
  </mat-form-field>
  
  <button mat-raised-button type="submit">Registrarse</button>
</form>
