.container {
    max-width: 600px; /* Ancho máximo para mantener el contenido centrado */
    margin: 20px auto; /* Centrar horizontalmente */
    padding: 20px; /* Espaciado interno */
    background-color: #fff; /* Fondo blanco */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
  }
  

  .form-container {
    display: flex;
    flex-direction: column; /* Alinear los elementos en columna */
  }
  
  .form-field {
    width: 100%; /* Asegurar que el campo ocupe todo el ancho */
    margin-bottom: 20px; /* Espacio entre los campos */
  }
  .button-group {
    display: flex;
    gap: 15px; /* Aumenta el espacio entre los botones */
    margin-top: 20px; /* Añade un margen superior para separar de los campos */
  }
  
  
  .mat-error {
    color: #f44336; /* Color de error */
  }
  