<div class="login-container">
  <div class="login-card">
    <div class="login-left">
    
      <div class="illustration-container">
        <img src="/assets/img/pngwing.com (3).png" alt="Login Illustration" class="illustration">
      </div>
    </div>
    <div class="login-right">
 

      <div class="login-form">
        <h1 class="sign-in-title">INICIAR SESIÓN</h1>
        <p class="sign-in-subtitle">Ingresa tu email y contraseña para iniciar sesión</p>

        <form (ngSubmit)="login()" #loginForm="ngForm">
          <div class="form-group">
            <label>Email</label>
            <div class="input-container">
              <mat-icon>email</mat-icon>
              <input
                type="email"
                [(ngModel)]="loginDto.email"
                name="email"
                placeholder="admin@example.com"
                required
                #email="ngModel"
              />
            </div>
          </div>

          <div class="form-group">
            <label>Password</label>
            <div class="input-container">
              <mat-icon>lock</mat-icon>
              <input
                type="password"
                [(ngModel)]="loginDto.password"
                name="password"
                placeholder="••••••••••"
                required
                #password="ngModel"
              />
            </div>
          </div>

   

          <button 
            type="submit" 
            class="sign-in-button"
            [disabled]="!loginForm.valid"
          >
            SIGN IN
          </button>

          <div class="divider"></div>

       

          <div class="copyright">
            © 2024  Hobo. Todos los derechos reservados.
          </div>
          <div class="nav-arrow" (click)="irAOtraVentana()">
            <mat-icon class="arrow-icon">arrow_forward</mat-icon>
            <span class="nav-text">Más Información</span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


