<div class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <form (ngSubmit)="login()">
      <mat-card-content>
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Email"
            [(ngModel)]="loginDto.email"
            name="email"
            required
            aria-label="Email"
          />
          <mat-error *ngIf="!loginDto.email">El email es requerido.</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Password"
            [(ngModel)]="loginDto.password"
            name="password"
            type="password"
            required
            aria-label="Password"
          />
          <mat-error *ngIf="!loginDto.password">La contraseña es requerida.</mat-error>
        </mat-form-field>
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" class="custom-button">Login</button>
      </mat-card-actions>
    </form>

    <div class="recover-email">
      <button mat-button (click)="abrirModalRecuperacion()" class="recover-btn">
        Enviar Mensaje al Administrador
      </button>
    </div>
  </mat-card>

  <div class="modal-backdrop" *ngIf="mostrarModal">
    <div class="modal-content">
      <h2>📩 Enviar Mensaje</h2>
      <p class="modal-description">
        Escribe un mensaje para enviarlo al administrador.
      </p>
      <mat-form-field class="full-width">
        <mat-label>Escribe tu mensaje</mat-label>
        <textarea
          matInput
          [(ngModel)]="mensajeUsuario"
          placeholder="Escribe aquí tu mensaje"
          rows="4"
          aria-label="Mensaje al administrador"
        ></textarea>
      </mat-form-field>
      <div class="modal-actions">
        <button
          mat-raised-button
          color="primary"
          (click)="enviarMensaje()"
          class="modal-btn"
        >
          <mat-icon>send</mat-icon> Enviar
        </button>
        <button
          mat-raised-button
          color="warn"
          (click)="cerrarModal()"
          class="modal-btn-cancel"
        >
          <mat-icon>close</mat-icon> Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
<div class="nav-arrow" (click)="irAOtraVentana()">
  <mat-icon class="arrow-icon">arrow_forward</mat-icon>
  <span class="nav-text">Más Información</span>
</div>

