.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    /* Espaciado entre los botones */
    border: none;
    border-radius: 5px;

    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-print {
    background-color: #28a745;
    /* Color verde */
    color: white;
}

.btn-print:hover {
    background-color: #218838;
    /* Color verde más oscuro al pasar el ratón */
}

.btn-back {
    background-color: #007bff;
    /* Color azul */
    color: white;
}

.btn-back:hover {
    background-color: #0056b3;
    /* Color azul más oscuro al pasar el ratón */
}