<div class="horarios-container">
  <h2 class="title-with-icon">
    <mat-icon>access_time</mat-icon> Horario de Clases
  </h2>

  <div class="cards-container">
    <mat-card *ngFor="let horario of dataSource.data" class="class-card">

      <mat-card-header>
        <mat-card-title>
          <mat-icon class="event-icon">event_available</mat-icon>
          {{ horario.diaSemana }}
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p><strong>Hora Inicio:</strong> {{ horario.horaInicio }}</p>
        <p><strong>Hora Fin:</strong> {{ horario.horaFin }}</p>
        <p><strong>Curso:</strong> {{ horario.nivelDetalleCurso.curso.descripcion }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
