<div class="container mx-auto px-4 py-6">
    <h2 class="text-2xl font-bold mb-4">Editar Inscripción</h2>
    <form (ngSubmit)="updateInscripcion()">
      <div class="mb-4">
        <label for="estudiante" class="block text-gray-700">Estudiante ID</label>
        <input [(ngModel)]="inscripcion.estudiante.id" name="estudiante" id="estudiante" type="number" class="form-input mt-1 block w-full" required>
      </div>
      <div class="mb-4">
        <label for="curso" class="block text-gray-700">Curso ID</label>
        <input [(ngModel)]="inscripcion.curso.id" name="curso" id="curso" type="number" class="form-input mt-1 block w-full" required>
      </div>
      <div class="mb-4">
        <label for="fechaInscripcion" class="block text-gray-700">Fecha Inscripción</label>
        <input [(ngModel)]="inscripcion.fechaInscripcion" name="fechaInscripcion" id="fechaInscripcion" type="date" class="form-input mt-1 block w-full" required>
      </div>
      <div class="mb-4">
        <label for="calificacion" class="block text-gray-700">Calificación</label>
        <input [(ngModel)]="inscripcion.calificacion" name="calificacion" id="calificacion" type="number" step="0.01" class="form-input mt-1 block w-full">
      </div>
      <button type="submit" class="btn btn-primary">Actualizar Inscripción</button>
    </form>
  </div>
  